.navbar {
  height: 60px;
  width: 100vw;
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--ggray);
  box-shadow: var(--ggray) 0px 0px 4px;
}

.navlink {
  text-decoration: none;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-style: bold;
  font-size: x-large;
  flex-grow: 1;
  margin: 0 40px;
}

#glumbocoin:hover {
  color: var(--gpurple);
}

#kca:hover {
  color: var(--gcyan);
}

#live:hover {
  color: var(--gmagenta);
}

#chaos:hover {
  color: var(--gyellow);
}
