html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--ggray);
  color: white;
  margin: auto;
  --gcyan: #17ffe2;
  --gyellow: #edff0f;
  --gmagenta: #ff0fe7;
  --gpurple: #6817ff;
  --ggray: #1b1925;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
