html,
body {
  padding: 0;
  margin: 0;
  font-family: GlacialIndifference, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--ggray);
  color: white;
  margin: auto;
  --gcyan: #17ffe2;
  --gyellow: #edff0f;
  --gmagenta: #ff0fe7;
  --gpurple: #6817ff;
  --ggray: #1b1925;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.glumbocanvas {
  width: 50vw;
  height: 50vh;
}

.canvaswrapper {
  background-color: var(--gmagenta);
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
}

.canvaswrapper .bigtext {
    font-size: 7rem;
    font-weight: 700;
    color: var(--ggray);
    margin: auto;
}

.canvaswrapper .smalltext {
    font-size: 2rem;
    font-weight: 700;
    color: var(--ggray);
    margin: auto;
}

@font-face {
  font-family: GlacialIndifference;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/GlacialIndifference/GlacialIndifference-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: GlacialIndifference;
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/GlacialIndifference/GlacialIndifference-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: GlacialIndifference;
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/GlacialIndifference/GlacialIndifference-Italic.otf")
    format("opentype");
}
