.bigbox {
  color: #1b1925;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 500px;
  font-size: 60px;
  font-family: "DM Sans", sans-serif;
}

.bigboxholder {
  display: flex;
}

.flatbuttonm {
  background-color: var(--gmagenta);
  box-shadow: var(--ggray) 4px 4px;
  border-width: 0;
  border-radius: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 50%;
  color: var(--ggray);
  width: 50%;
}

#shrinkcontainerrbb {
  display: inline-block;
  height: min-content;
}

#lbigbox {
  background-color: var(--gpurple);
}

#rbigbox {
  background-color: var(--gyellow);
  align-content: space-between;
}

#bigbox::selection {
  background-color: var(--gpurple);
}
